.wrap {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    left: 0;
    right: 0;
    overflow: hidden;
    transition:
        opacity var(--transition-param),
        height var(--transition-param);
    pointer-events: none;
}

.wrap[data-visible="false"] {
    opacity: 0;
}

/* add transitions + delay to width / left to persist last state during animation */
.wrap[data-visible="false"] .handle {
    transition:
        width var(--transition-param),
        left var(--transition-param);
    transition-delay: 500ms;
}

.handle {
    position: relative;
    padding: 10px;
    pointer-events: auto;
}

.handle:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 0;
    transition:
        height var(--transition-param),
        border-radius var(--transition-param);
}

.handle:hover:after, .wrap[data-dragging="true"] .handle:after {
    height: 6px;
    border-radius: 3px;
}
