.track {
    grid-area: bottom-bar;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: -7px;
    height: 7px;
    overflow: hidden;
    transition: opacity var(--transition-param);
    pointer-events: none;
    background-color: #202020;
}

.track-hidden {
    opacity: 0;
}

/* add transitions + delay to width / left to persist last state during animation */
.handle-hidden {
    transition:
        width var(--transition-param),
        left var(--transition-param);
    transition-delay: 500ms;
}

.handle {
    position: relative;
    pointer-events: auto;
    background-color: #545454;
    height: 100%;
    cursor: grab;
}
