.sliders {
    position: relative;
    grid-area: content;
    width: 55px;
    z-index: 5;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.distance-icon {
    display: grid;
    place-content: center;
    width: fit-content;
    border: 1px solid #fff;
    border-width: 0 1px;
    font-size: 12px;
}
