.download {
    display: grid;
    place-content: center;
    opacity: 1;
    transition: opacity var(--transition-param);
}

.download > img {
    position: relative;
    top: 1px;
}

.download:hover {
    opacity: 0.7;
}
