.svg-plot {
    --tick-size: 15px;
    position: relative;
}

.plot-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.plot-wrap > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.axis-x, .axis-y {
    position: absolute;
    display: grid;
    place-content: center;
}

.axis-x {
    left: 0;
    right: 0;
    height: var(--tick-size);
}

.axis-y {
    left: calc(-1 * var(--tick-size));
    top: 0;
    bottom: 0;
    width: var(--tick-size);
}

.label {
    position: relative;
    display: grid;
    place-content: center;
    width: 0;
    height: 0;
    overflow: visible;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.axis-x .label {
    transform: translateY(35px);
}

.axis-y .label {
    transform: rotate(-90deg) translateY(-55px);
}

.ticks, .ticks {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    font-size: 0.5rem;
}

.axis-y .ticks {
    flex-direction: column;
    border-right: 1px solid #fff;
}

.axis-y .ticks {
    border-top: 1px solid #fff;
}

.axis-y .tick {
    position: relative;
    width: var(--tick-size);
    height: 1px;
    background-color: #fff;
}

.axis-y .tick > * {
    position: absolute;
    margin-right: 3px;
    right: var(--tick-size);
    transform: translateY(-50%);
}

.axis-x .tick {
    position: relative;
    height: var(--tick-size);
    width: 1px;
    background-color: #fff;
    transform: translateY(calc(-1 * var(--tick-size)));
}

.axis-x .tick > * {
    position: absolute;
    top: var(--tick-size);
    transform-origin: left center;
    transform: rotate(90deg);
}
