.toggle-button {
    position: relative;
}

.toggle-button > button {
    position: relative;
    display: grid;
    place-items: center;
    width: 27px;
    height: 27px;
    border-radius: var(--radius);
    overflow: hidden;
}

.label {
    position: relative;
    top: 3px;
    width: 100%;
    height: 0px;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.45rem;
}
