.wrap {
    --width: 50px;
    position: relative;
    width: var(--width);
    margin-top: calc(var(--height, 0) + 20px);
    font-size: 8px;
}

.slider {
    position: absolute;
    top: -15px;
    left: calc(0.5 * var(--width));
    width: var(--height, 0);
    transform-origin: left center;
    transform: rotate(270deg);
}

.label {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.5rem;
    line-height: 0.7rem;
}

.icon {
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 8px;
}
