.wrap {
    --width: 60px;
    --length: 80px;
    position: relative;
    width: var(--width);
    margin-top: calc(var(--length) + 20px);
    font-size: 8px;
}

.slider {
    position: absolute;
    top: -15px;
    left: calc(0.5 * var(--width));
    width: var(--length);
    transform-origin: left center;
    transform: rotate(270deg);
}

.label {
    text-align: center;
    text-transform: uppercase;
}

.icon {
    display: grid;
    place-items: center;
    width: 100%;
    margin-top: 8px;
}
