.content {
    position: relative;
    grid-area: content;
    grid-row: content / bottom-bar;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 70px 380px 1fr;
    grid-template-rows: 20px 1fr;
    grid-template-areas:
        "label-side label-punch label-main"
        "side punch main";
}
