.hover-info {
    position: fixed;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 200;
    background-color: var(--menu-bg-color);
    border-radius: var(--radius);
    transition:
        transform var(--transition-param),
        opacity var(--transition-param);
    transform: translate(10%, -50%);
    opacity: 0
}

.visible {
    opacity: 1
}

.abundance-bar {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.abundances {
    position: relative;
    display: flex;
    gap: 2px;
    padding: 5px;
    height: 50px;
}

.abundance-bar > .abundance {
    position: relative;
    background-color: #fff;
    transition: height 50ms linear;
}

.abundance-bar > p {
    background-color: #000;
    text-transform: uppercase;
    display: grid;
    place-content: center;
    width: 12px;
    height: 10px;
    font-size: 0.4rem;
}

.spectrum {
    display: flex;
    gap: 1px;
    height: 50px;
}

.spectrum-bar {
    position: relative;
    margin-top: auto;
    width: 1px;
    background-color: #fff;
}
