.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #252525;
}

.part-info {
    position: relative;
    grid-area: top-right;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;
}

.part-info p {
    color: var(--color4);
    white-space: nowrap;
}

.part-info span {
    color: #fff;
    margin-left: 5px;
    white-space: nowrap;
}

.lowercase {
    text-transform: lowercase;
}
