.part-view {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #202020;

    display: grid;
    grid-template-columns: 70px var(--core-panel-width, 0) 1fr;
    grid-template-rows: 40px 30px 1fr 32px;
    grid-template-areas:
        "top-left top-left top-right"
        "label-punch label-punch label-main"
        "side punch main"
        "bottom-punch bottom-punch bottom-main";
    transition: grid-template-columns 0.5s ease;
}

.core-panel-toggle {
    position: absolute;
    top: 0;
    z-index: 10;
    display: grid;
    place-content: center;
    font-size: 12px;
}

.close-button {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    transition: color var(--transition-param);
    color: #dedede;
}

.core-panel-toggle:hover, .close-button:hover {
    color: var(--color4);
}

.core-panel-toggle {
    grid-area: label-punch;
    right: 0;
    transition:
        color var(--transition-param),
        transform var(--transition-param);
    height: 100%;
    width: 20px;
}

.close-label {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 300;
    width: 150px;
    padding-left: 10px;
    white-space: nowrap;
    transition: width 500ms ease;
    overflow: hidden;
    text-align: left;
}

.close-label-hidden {
    width: 0;
}

.top-left {
    grid-area: top-left;
    background-color: #444;
    display: flex;
    align-items: center;
}

.blend-wrap {
    display: grid;
    place-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 32px;
}

.blend-toggle {
    display: grid;
    place-content: center;
    height: 20px;
    width: 35px;
    font-size: 14px;
    border-radius: 5px 0 0 5px;
}

.blend-toggle > img {
    width: 25px;
    height: 25px;
}
