.content {
    grid-area: main;
    grid-row: label-main / bottom-main;
    position: relative;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 32px;
    grid-template-areas:
        "top-label"
        "channels"
        "bottom-label";

    /* hide default scrollbars */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.top-labels, .bottom-labels, .channels {
    padding: 0 30px 0 30px;
}

.top-labels {
    display: flex;
    grid-area: top-label;
    position: relative;
    width: fit-content;
    height: 30px;
    padding-top: 10px;
    background-color: #252525;
    min-width: 100%;
}

.bottom-labels {
    display: flex;
    grid-area: bottom-label;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
}

.top-label, .bottom-label {
    position: relative;
    margin: 0 5px 0 15px;
    text-transform: uppercase;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.top-label {
    display: grid;
    place-content: center;
    height: 100%;
    border: solid var(--color3);
    border-width: 0 1px;
    overflow: hidden;
}

.bottom-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blend-button, .toggle-button {
    text-transform: uppercase;
    text-align: left;
    padding: 0 10px;
    width: 100%;
    max-width: 100px;
    height: 20px;
    overflow: hidden;
    transition: background-color var(--transition-param);
}

.blend-button {
    background-color: #202020;
}

.toggle-button {
    background-color: #fff;
    color: #000;
    pointer-events: none;
}

.blend-button:hover {
    background-color: #303030;
}

.blend-color {
    position: relative;
    right: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: background-color var(--transition-param);
    flex-shrink: 0;
    flex-grow: 0;
}

.blend-color:before, .blend-color:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.blend-color:before {
    border: 1px solid #909090;
}

.blend-color:after {
    background-color: inherit;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.channels-wrap {
    position: relative;
    grid-area: channels;
    height: 100%;
    width: fit-content;
    min-width: 100%;
    overflow-y: scroll;

    /* hide default scrollbars */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.channels-wrap::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.channels {
    position: relative;
    display: flex;
    background-image: url('../../assets/ruler-bg.svg');
    background-repeat: infinite;
    background-color: #202020;

    transition: opacity 300ms ease;
    transition-delay: 100ms;
    opacity: 1;
}

.content[data-loading="true"] .channels {
    transition-delay: 0s;
    opacity: 0;
}

.channel {
    position: relative;
    height: fit-content;
    display: flex;
}

.channel:before, .channel:after {
    position: relative;
    content: "";
    display: block;
    min-height: 100%;
    background-repeat: infinite;
    opacity: 0.2;
    transition: opacity var(--transition-param);
}

.channel:hover:before, .channel:hover:after {
    opacity: 1;
}

.channel:before {
    width: 15px;
    background-image: url('../../assets/ruler-left.svg')
}

.channel:after {
    width: 5px;
    background-image: url('../../assets/ruler-right.svg')
}

.ghost-cursor {
    position: absolute;
    z-index: 2;
    transform: translate(50%, -50%);
    pointer-events: none;
    transition: opacity var(--transition-param);
}

.channel:hover .ghost-cursor {
    display: none;
}

.data-missing {
    position: relative;
    display: grid;
    place-content: center;
    color: var(--color4);
    background-color: #191919;
    text-transform: uppercase;
    text-align: center;
}
