.mineral-controls {
    position: relative;
    overflow: visible;
    grid-area: bottom-bar;
    display: grid;
    grid-template-columns: 1fr 40px;
    background-color: var(--menu-bg-color);
}

.toggles {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 0;
    max-width: 1000px;
    overflow-x: scroll;
}

.mineral-toggle, .blend-toggle {
    border-radius: var(--radius);
    text-transform: uppercase;
    height: 16px;
    padding: 10px;
    margin: 6px;
}

.mineral-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    min-width: 30px;
}

.blend-toggle {
    position: relative;
    margin-left: auto;
    display: grid;
    place-content: center;
    max-width: 30px;
    font-size: 14px;
}
