.spectra-panel-wrap {
    grid-area: main;
    grid-column: punch / main;
    grid-row: main / bottom-main;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition: width 0.5s ease;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.panel-open {
    width: 950px;
}

.spectra-panel {
    position: relative;
    z-index: 200;
    height: 100%;
    width: 100%;
    background-color: var(--menu-bg-color);
    padding: 40px;
}

.plots {
    position: relative;
    margin: 50px;
}

.main-plot {
    position: relative;
    width: 800px;
    height: 300px;
    color: #ccc;
}

.delta-plot {
    position: relative;
    width: 800px;
    height: 200px;
    color: #ccc;
}

.collapse-button {
    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    transition: color var(--transition-param);
}

.collapse-button:hover {
    color: var(--color4);
}

.mineral-select {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 10px;
}

.dropdown-label {
    position: relative;
    text-transform: uppercase;
    color: #9F9F9F;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
}

.dropdown-label:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B9E66C;
    position: absolute;
    left: -15px;
}
