.spectra-label {
    grid-area: label-spectra;
    background-color: #444;
}

.spectra-panel {
    grid-area: spectra;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #606060;
}
