.view-controls {
    background-color: #606060;
    grid-area: side;
    grid-row: label-side / side;
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 100%;
    align-items: center;
    gap: 20px;
    padding: 30px 0 32px 0;
}

.scale-ruler {
    position: relative;
    border: 1px solid #999;
    border-left: 0;
    height: 150px;
    width: 15px;
    overflow: visible;
}

.scale-ruler-center {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    top: 0;
    bottom: 0;
    right: 0;
    left: -15px;
    font-size: 0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.scale-ruler-center > div {
    width: 15px;
    height: 1px;
    background-color: #999;
}

.scale-ruler-center > p {
    margin: 2px;
}

.distance-icon {
    display: grid;
    place-content: center;
    width: fit-content;
    border: 1px solid #fff;
    border-width: 0 1px;
    font-size: 12px;
}
