.app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.core-wrap, .part-wrap {
    transition: opacity var(--transition-param);
}

.app[data-view="core"] .core-wrap,
.app[data-view="part"] .part-wrap {
    opacity: 1;
}

.app[data-view="part"] .core-wrap,
.app[data-view="core"] .part-wrap {
    opacity: 0;
}
