.app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 1fr 32px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "top-bar"
        "content"
        "bottom-bar";
}
