.core-select {
    display: flex;
    align-items: center;
    height: 25px;
    padding-left: 15px;
    border-left: 1px solid var(--color2);

    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.core-select > p {
    color: var(--color2);
}

.core-dropdown {
    width: 50px;
}

.core-dropdown .selected {
    background-color: transparent;
    border: none;
}

.core-dropdown[data-selected] button {
    background-color: transparent;
    border: none;
    font-size: 10px;
}

.core-dropdown button:hover {
    color: var(--color2);
}

.core-dropdown .items {
    background-color: var(--color1);
    border-radius: var(--radius);
    border: none;
}

.core-dropdown .items a:not(:last-of-type) {
    border-bottom: 1px solid var(--color2);
}

.core-dropdown .items a:hover {
    background-color: var(--color2);
}
