.full-core-canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity var(--transition-param);
}

.full-core-canvas[data-visible="true"] {
    transition-delay: 250ms;
    opacity: 1;
}
