.full-core-canvas {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity var(--transition-param);
}

.full-core-canvas[data-visible="true"] {
    transition-delay: 250ms;
    opacity: 1;
}
