.metadata-hover {
    position: absolute;
    z-index: 999;
    background-color: var(--menu-bg-color);
    border-radius: var(--radius);
    padding: 5px;
    transform: translate(-120%, -50%);
    text-transform: uppercase;
    font-size: 10px;

    pointer-events: none;
    user-select: none;
}

.metadata-hover div {
    display: flex;
    gap: 5px;
}

.metadata-hover > p:not(:last-of-type) {
    margin-bottom: 2px;
}

.metadata-hover p span {
    margin: 0 5px;
}
