.metadata {
    position: absolute;
    z-index: 999;
    background-color: var(--menu-bg-color);
    border-radius: var(--radius);
    text-transform: uppercase;
    font-size: 10px;

    pointer-events: none;
    user-select: none;
    overflow: hidden;

    transition: transform var(--transition-param);
}

.metadata[data-side="left"] {
    transform: translate(20%, -50%);
}

.metadata[data-side="right"] {
    transform: translate(-120%, -50%);
}

.metadata .id {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 5px;
    background-color: var(--color0);
}

.metadata > p {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.metadata > p:not(:last-of-type) {
    margin-bottom: 2px;
}
