.blend-menu > button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    place-items: center;
    margin: 6px;
    font-size: 16px;
    height: 20px;
    width: 30px;
    border-radius: var(--border-radius);
}

.blend-menu > div {
    position: absolute;

    right: 0;
    display: flex;
    flex-direction: column;

    bottom: 32px;
    padding: 10px;

    background-color: var(--menu-bg-color);
}

.blend-menu p {
    text-transform: uppercase;
}

.mineral-blender {
    --slider-height: 4px;
    position: relative;
    width: 250px;
    user-select: none;
    padding-top: var(--slider-height);
}

.mineral-blender a {
    display: grid;
    place-content: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.mineral-blender[data-visible="false"] a {
    color: var(--color2);
}

.mineral-blender p {
    font-size: 0.65rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
}

.mineral-blender-top {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--color0);
}

.slider-wrap {
    position: relative;
    width: 100%;
    background-color: var(--color1);

    height: 0;
    margin-bottom: var(--slider-height);
    transition:
        height var(--transition-param),
        margin-bottom var(--transition-param);
}

.mineral-blender:hover .slider-wrap,
.mineral-blender[data-dragging="true"] .slider-wrap {
    height: var(--slider-height);
    margin-bottom: 0;
}

.slider-value {
    height: 100%;
    background-color: #fff;
    pointer-events: none;
}

.mineral-blender[data-visible="false"] .slider-value {
    background-color: transparent;
}

.slider-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-5px, -8px);
}
