.blend-menu input[type="range"] {
    width: 80%;
    margin-top: 5px;
}

.blend-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--menu-bg-color);
}

.blend-menu > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blend-menu > p {
    padding: 5px 0;
}

.blend-menu > p:not(:first-of-type) {
    margin-top: 15px;
}

.blend-menu p {
    text-transform: uppercase;
}

.monochrome-icon {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 50%;
    transition: background-color var(--transition-param);
}

.monochrome-icon:before {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: #000;
}

.mineral-mixer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
}

.mineral {
    position: relative;
    width: 300px;
    height: 22px;
    user-select: none;
}

.mineral[data-visible="false"] a {
    color: var(--color2);
}

.mineral .top {
    position: relative;
    display: flex;
    height: 20px;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color0);
    pointer-events: none;
}

.mineral .top a, .mineral .top .percentage {
    pointer-events: auto;
}

.mineral .top > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mineral .top a {
    display: grid;
    place-content: center;
    width: 20px;
    height: 100%;
    font-size: 14px;
    transition: color var(--transition-param);
}

.mineral .top p {
    font-size: 0.65rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
}

.mineral .shortcut {
    opacity: 0;
    margin-left: 5px;
    transition: opacity var(--transition-param);
}

.mineral:hover .shortcut {
    opacity: 1;
}

.mineral .top .percentage {
    color: var(--color3);
    opacity: 1;
    transition: opacity var(--transition-param);
}

.mineral[data-visible="false"] .top .percentage {
    pointer-events: none;
    opacity: 0;
}

.mineral .top .percentage input[type="text"] {
    background-color: transparent;
    border: 1px solid var(--color1);
    height: 16px;
    width: 30px;
    margin-right: 2px;
    text-align: right;
    padding: 4px;
}

.mineral .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    opacity: 0;
    transition: opacity var(--transition-param);
}

.mineral:hover .slider,
.mineral[data-dragging="true"] .slider,
.mineral:focus-within .slider {
    opacity: 1;
}

.mineral .slider:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: background-color var(--transition-param);
}

.mineral[data-visible="false"] .slider:before {
    background-color: transparent;
}

.mineral .slider .arrow {
    padding: inherit;
    position: absolute;
    z-index: 200;
    right: 0;
    bottom: 0;
    width: 0;
    height: 10px;
    transform: translateX(-5px);
    opacity: 1;
    transition: opacity var(--transition-param);
}

.mineral[data-dragging="false"] .slider .arrow {
    opacity: 0;
}

.palette {
    display: flex;
    width: 100%;
    padding: 1px;
}

.swatch {
    position: relative;
    display: grid;
    place-content: center;
    width: 16px;
    height: 16px;
    margin: 1px;
    transition: background-color var(--transition-param);
}

.swatch p {
    background-color: #000;
    width: 100%;
    height: 60%;
    border-top: 1px solid var(--color0);
    position: absolute;
    bottom: 0;
    font-size: 0.4rem;
    display: grid;
    place-content: center;
}

.swatch:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #111;
    transition: opacity var(--transition-param);
    opacity: 0;
}

.swatch[data-color="false"]:before {
    opacity: 1;
}

.palette-dropdown {
    --height: 22px;
    width: 220px;
    height: var(--height);
}

.palette-dropdown .selected {
    border: 1px solid var(--color2);
}

.blend-mode-dropdown .label, .blend-mode-dropdown .items {
    border: 1px solid var(--color1);
    border-radius: 5px;
    overflow: hidden;
}

.blend-mode-dropdown .label * {
    border: none;
}

.blend-mode-dropdown .items {
    margin-top: 1px;
}

.blend-menu .params {
    display: block;
    flex-direction: column;
    margin-top: 15px;
}

.params > p {
    padding: 5px 0;
}

.params > p:not(:first-of-type) {
    margin-top: 5px;
}

.param-input {
    position: relative;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 18px;
}

.param-input button {
    position: relative;
    display: grid;
    place-content: center;
    width: 20px;
    height: 100%;
    font-size: 12px;
    border: 1px solid var(--color1);
    background-color: var(--color0);
    transition:
        opacity var(--transition-param),
        background-color var(--transition-param);
}

.param-input button[data-visible="false"] {
    opacity: 0;
}

.param-input button:hover {
    background-color: #303030;
}

.param-input .param-slider .slider-bar {
    border-radius: 5px;
    overflow: hidden;
}
