.blend-menu > button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    place-items: center;
    margin: 6px;
    font-size: 16px;
    height: 20px;
    width: 30px;
    border-radius: var(--border-radius);
}

.blend-menu > div {
    position: absolute;

    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    bottom: 32px;
    padding: 10px;

    background-color: var(--menu-bg-color);
}

.blend-menu p {
    text-transform: uppercase;
}


.mineral-blender {
    position: relative;
    width: 250px;
    background-color: var(--color0);
    user-select: none;
}

.mineral-blender a {
    display: grid;
    place-content: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.mineral-blender p {
    font-size: 0.65rem;
    letter-spacing: 0.05rem;
    font-weight: 300;
}

.mineral-blender-top {
    display: flex;
    align-items: center;
    gap: 5px;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--color1);
}

.slider-value {
    height: 100%;
    background-color: #fff;
    pointer-events: none;
}

.slider-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-5px, -8px);
}
