.scrollbar-wrap {
    position: absolute;
    /* temp z */
    z-index: 200;
    bottom: 35px;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: opacity var(--transition-param);
}

.scrollbar-wrap[data-visible="false"] {
    opacity: 0;
}

/* add transitions + delay to width / left to persist last state during animation */
.scrollbar-wrap[data-visible="false"] .scrollbar-handle {
    transition:
        width var(--transition-param),
        left var(--transition-param);
    transition-delay: 500ms;
}

.scrollbar-handle {
    position: relative;
    height: 2px;
    background-color: #fff;
    transition: height var(--transition-param);
}

.scrollbar-handle:hover {
    height: 5px;
}
