/* ----- TOP BAR CONTENT ----- */
.close-button {
    grid-area: top-side;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    background-color: #444;
}

.section-info {
    grid-area: top;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #444;
}

.section-info > p {
    color: var(--color4);
}

.section-info > p > span {
    color: #fff;
    margin-left: 5px;
}

/* ----- SIDE CONTROLS ----- */
.vertical-controls {
    grid-area: side;
    grid-row: side / bottom;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    padding-bottom: 32px;
    background-color: #606060;
}

.scale-ruler {
    position: relative;
    border: 1px solid #999;
    border-left: 0;
    height: 200px;
    width: 15px;
    overflow: visible;
}

.scale-ruler-center {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    top: 0;
    bottom: 0;
    right: 0;
    left: -15px;
    font-size: 0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.scale-ruler-center > div {
    width: 15px;
    height: 1px;
    background-color: #999;
}

.scale-ruler-center > p {
    margin: 2px;
}

.side .vertical-slider {
    --length: 125px;
}

.distance-icon {
    display: grid;
    place-content: center;
    width: fit-content;
    border: 1px solid #fff;
    border-width: 0 1px;
    font-size: 12px;
}

/* ----- BOTTOM BAR CONTENT ----- */
.mineral-controls {
    position: relative;
    overflow: visible;
    grid-area: bottom;
    background-color: var(--menu-bg-color);
    display: grid;
    grid-template-columns: 1fr 40px;
}

.mineral-toggles > button, .mineral-controls > .blend-toggle {
    border-radius: var(--radius);
    text-transform: uppercase;
    height: 16px;
    padding: 10px;
    margin: 6px;
}

.mineral-toggles {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 0;
    max-width: 1000px;
    overflow-x: scroll;
}

.mineral-toggles > button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    min-width: 30px;
}

.mineral-controls > .blend-toggle {
    position: relative;
    margin-left: auto;
    display: grid;
    place-content: center;
    max-width: 30px;
    font-size: 14px;
}

/* ----- MAIN CONTENT -----*/
.mineral-channels-wrap {
    grid-area: content;
    grid-row: content / bottom;
    background-color: #333;
    overflow: scroll;
}

.mineral-channels {
    position: relative;
    display: flex;
    width: fit-content;
    background-image: url('../assets/ruler-bg.svg');
    background-repeat: infinite;
    padding-bottom: 32px;
    opacity: 0;
    transition: opacity var(--transition-param);
}

.mineral-channels[data-visible="true"] {
    transition-delay: 250ms;
    opacity: 1;
}

.mineral-channels .channel-wrap:first-of-type {
    padding-left: 50px;
}

.mineral-channels .channel-wrap:last-of-type {
    padding-right: 50px;
}

.channel-wrap {
    position: relative;
    display: flex;
}

.channel-wrap:before, .channel-wrap:after {
    opacity: 0.3;
    transition: opacity var(--transition-param);
}

.channel-wrap:hover:before, .channel-wrap:hover:after {
    opacity: 1;
}

.channel-wrap:before {
    content: "";
    display: block;
    position: relative;
    width: 15px;
    height: 100%;
    background-image: url('../assets/ruler-left.svg');
    background-repeat: infinite;
}

.channel-wrap:after {
    content: "";
    display: block;
    position: relative;
    width: 5px;
    height: 100%;
    background-image: url('../assets/ruler-right.svg');
    background-repeat: infinite;
}

/* ----- LABEL CONTENT ----- */
.punch-label {
    grid-area: label-side;
    background-color: #444;
}

.channel-labels-wrap {
    position: relative;
    grid-area: label;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #444;
}

.channel-labels {
    position: relative;
    display: flex;
    height: 100%;
    padding-left: 50px;
}

.channel-label {
    display: grid;
    place-content: center;
    white-space: nowrap;
    text-transform: uppercase;
    height: 100%;
    border: solid var(--color3);
    border-width: 0 1px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 5px;
}
