.single-view {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 20px 1fr 32px;
    grid-template-columns: 70px 1fr;
    grid-template-areas:
        "top top"
        "side label"
        "side content"
        "bottom bottom";
}

.single-view .top {
    grid-area: top;
    background-color: var(--color2);
}

.single-view .label {
    grid-area: label;
    background-color: var(--color1);
}

.single-view .side {
    grid-area: side;
    background-color: transparent;
}

.single-view .content {
    grid-area: content;
    background-color: transparent;
    overflow: scroll;
    font-size: 100px;
}

.single-view .bottom {
    grid-area: bottom;
    background-color: var(--menu-bg-color);
}

/* ----- TOP BAR CONTENT ----- */
.section-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;

    padding-left: 50px;
}

.section-info > p {
    color: var(--color4);
}

.section-info > p > span {
    color: #fff;
    margin-left: 5px;
}

/* ----- SIDE CONTROLS ----- */
.zoom-slider .vertical-slider {
    --length: 125px;
}

.vertical-controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.distance-icon {
    display: grid;
    place-content: center;
    width: fit-content;
    border: 1px solid #fff;
    border-width: 0 1px;
    font-size: 12px;
}

/* ----- BOTTOM BAR CONTENT ----- */
.mineral-toggles {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 0;
    max-width: 1000px;
    overflow-x: scroll;
}

.mineral-toggles > button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    min-width: 30px;
    height: 16px;
    padding: 10px;
    margin: 6px;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    background-color: var(--color2);

}
