.single-view {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 20px 1fr 32px;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
        "top top"
        "side label"
        "side content"
        "bottom bottom";
}

.single-view .top {
    grid-area: top;
    background-color: var(--menu-bg-color);
}

.section-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    font-size: 0.85rem;
    font-weight: 300;
    text-transform: uppercase;

    padding-left: 125px;
}

.section-info > p {
    color: var(--color4);
}

.section-info > p > span {
    color: #fff;
    margin-left: 5px;
}

.single-view .label {
    grid-area: label;
    background-color: #222;
}

.single-view .side {
    grid-area: side;
    background-color: #333;
}

.single-view .content {
    grid-area: content;
    background-color: #444;
    overflow: scroll;
    font-size: 100px;
}

.single-view .bottom {
    grid-area: bottom;
    background-color: #555;
}
