:root {
    --inactive-color: #606060;
    --active-color: #202020;
    --menu-bg-color: rgba(65, 65, 65, 0.85);
    --border-radius: 3px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1C1C;
    color: #fff;
}

button {
    color: inherit;
    border: none;
    cursor: pointer;
}
