:root {
    --menu-bg-color: rgba(65, 65, 65, 0.85);
    --color0: #202020;
    --color1: #606060;
    --color2: #808080;
    --color3: #a0a0a0;
    --radius: 3px;
    --transition-param: 150ms ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1C1C;
    color: #fff;
    font-size: 10px;
    font-family: system-ui, sans-serif;
    overscroll-behavior-y: none;
}

button, a {
    cursor: pointer;
}

button, input[type="text"] {
    color: inherit;
    border: none;
    font: inherit;
}

button[data-active] {
    transition: background-color var(--transition-param);
}

button[data-active="true"] {
    background-color: var(--color0);
}

button[data-active="false"] {
    background-color: var(--color1);
}

button[data-active="false"]:hover {
    background-color: var(--color2);
}

input[type="range"] {
    --thumb-size: 14px;
    --track-width: 2px;
    -webkit-appearance: none;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: calc((var(--track-width) - var(--thumb-size)) / 2);
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    border: none;

    background: #fff;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    margin-top: calc((var(--track-width) - var(--thumb-size)) / 2);
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    border: none;

    background: #fff;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    border: none;

    background: #fff;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: var(--track-width);
    background: #fff;
    border: none;
    cursor: pointer;
}

input[type="range"]::-moz-range-track {
    height: var(--track-width);
    background: #fff;
    border: none;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    height: var(--track-width);
    background: #fff;
    border: none;
    cursor: pointer;
}

input[type="range"]::-ms-fill-lower {
    background: transparent;
    border-radius: 0;
    border: var(--border);
}

input[type="range"]::-ms-fill-upper {
    background: transparent;
    border-radius: 0;
    border: var(--border);
}

input[type="range"]:focus::-ms-fill-lower {
    background: transparent;
}

input[type="range"]:focus::-ms-fill-upper {
    background: transparent;
}
